.HeroMainImage {
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f5f7f8;
    overflow: hidden;
    padding: 3rem 1rem;
}

.HeroText {
    font-family: var(--font-dancing-script), sans-serif !important;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.1;
}
