.HeroMainImage {
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f5f7f8;
    overflow: hidden;
    padding: 3rem 1rem;
}

.HeroImage {
    border-radius: 5%;
}

.HeroText {
    z-index: 1;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem;
}

.HeroDescription {
    font-family: var(--font-roboto), sans-serif !important;
    font-size: 1.3rem;
    font-weight: 400;
}

.HeroLink {
    color: var(--color-green);
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.3s ease;
    display: inline-block;
    text-decoration: underline;
}

.HeroLink:hover {
    transform: scale(1.02);
}

@media screen and (min-width: 768px) {
    .HeroImage {
        border-radius: 10%;
    }

    .HeroLink {
        font-size: 1.4rem;
    }

    .HeroDescription {
        font-size: 1.6rem;
    }
}