.card {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1; /* Better than padding-top hack */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    object-fit: cover;
    object-position: center;
    z-index: 1;
    transition: transform 0.3s ease;
}

.card:hover .image {
    transform: scale(1.05);
}

.card:hover .text {
     
}

.text {
    position: absolute;
    z-index: 2;
    color: white;
    font-family: var(--font-dancing-script);
    font-size: 4.5rem;
    font-weight: 800;
    text-shadow: 1px 1px 3px var(--color-green);
    pointer-events: none;
}
