.RestCard {
    box-shadow: 0 2px 4px var(--color-dark);
    transition: transform 0.3s ease;
}

.RestCard:hover {
    color: var(--color-green);
    box-shadow: 0 2px 4px var(--color-green);
    transform: scale(1.05);
}

.RestName {
    font-weight: bold;
}

.RestDetails {
    font-size: 1.2rem;
}

.CTA {
    color: var(--color-green);
    font-weight: bold;
}
