.RestCard {
    box-shadow: 0 2px 4px var(--color-dark);
}

.RestName {
    font-weight: bold;
}

.RestName:hover {
    color: var(--color-green);
}

.RestDetails {
    font-size: 1.2rem;
}

.CTA {
    color: var(--color-green);
    font-weight: bold;
}
