.LogoText {
    font-family: var(--font-dancing-script);
    font-weight: bold;
    font-size: 1.9rem !important;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .LogoText {
        font-size: 2.4rem !important;
    }
    
    .NavText {
        font-size: 1.2rem !important;
    }
}

.NavText {
    font-family: var(--font-roboto);
    font-size: 1rem;
}

.NavText:hover {
    border-radius: 5px;
    text-shadow: 1px 1px 1px var(--color-green);
}

.ActiveNavLink {
    font-weight: bold;
}
