.HeroMainImage {
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f5f7f8;
    overflow: hidden;
    padding: 3rem 1rem;
}

.HeroText {
    font-family: var(--font-dancing-script), sans-serif !important;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.1;
}

.ArticleCard {
    display: inline-block;
    transition: transform 0.3s ease;
}

.ArticleCardText {
    font-size: 1.6rem;
    font-weight: bold;
}

.ArticleCard:hover {
    color: var(--color-green);
    transform: scale(1.05);
}

@media screen and (min-width: 768px) {
    .ArticleCardText {
        font-size: 2rem;
    }
}
